<div class="detailed">
Author:{{quote.author}}    Name:{{quote.name}}
<p> {{quote.completeDate|dateCount}} days Has passed since this quote was created</p>
<div class="row">
  <div class="col-md-6">
    <a href="" (click)="voteUp()">
      <i class="fas fa-thumbs-up "></i>
    </a> ({{likes}})
  </div>
  <div class="col-md-6">
    <a href="" (click)="voteDown()">
      <i class="fas fa-thumbs-down "></i>
    </a> ({{disLikes}})
  </div>
</div>

<button class="btn btn-outline-danger ml-5 sm" (click)='quoteDelete(true)'> Delete </button>
</div>